<div>
    <h1>
        {{#each products}}
        <div>
            <h2>Name: {{name}}</h2>
            <h3>Price: {{price}}</h3>
            <h3>Category: {{category}}</h3>
            <h3>Image: {{image}}</h3>
            <h3>Created: {{timestamp}}</h3>
            <h3>stock: {{stock}}</h3>
        </div>
    </h1>
</div>